
	<a id="play-start"></a>


    <section id="play">

		<a id="back" href="index.html" class="btn menu control">
			<span class="arrow arrow-left"></span> Inicio
		</a>

		<div class="wrap">
			<video id="video-player" loop defaultMuted autoplay>
  				<source ng-src="{{ videoSrc }}" type="video/mp4">
  			</video>
        	<audio id="audio-player" ng-src="{{ audioSrc }}" loop autoplay></audio>
		
			<nav class="controls">
				<button class="btn play control" ng-click="togglePlay()"><span class="glyphicon glyphicon-pause"></span></button>
				<a class="btn control comments" data-toggle="modal" data-target="#commentsModal">
					<span class="text"></span> <span class="arrow"></span>
				</a>
			</nav>
		</div>

    </section>

    <a id="close-modal" data-toggle="modal" data-target="#commentsModal">&times;</a>

	<div id="commentsModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
					<h4 class="modal-title">Historias</h4>
				</div>
				<div class="modal-body">
					<div class="comments">
						<div class="comment" ng-repeat="item in commentsData">
							Como cuando {{ item.comment }}
							<div class="spacer">&bull;&bull;&bull;</div>
						</div>
					</div>

					<div class="thankyou">
						¡Gracias por publicar tu recuerdo!
					</div>

					<form id="comment-form" ng-submit="submit()" class="">

						<div class="info">
							¿qué te recuerda la escena?
						</div>
						<p class="textarea-wrap">
							<label>Como cuando</label>
							<textarea name="comment" ng-model="comment" class="form-control" placeholder="..." required></textarea>
						</p>
						<p class="text-right"><button type="submit" class="btn btn-primary" data-loading-text="<span class='glyphicon glyphicon-repeat gly-spin'></span> Enviar">Publicar <span class="arrow arrow-black"></span></button></p>

						<a class="btn close-link" data-toggle="modal" data-target="#commentsModal"><span class="arrow arrow-left arrow-black"></span> Volver</a>
						
					</form>

<!-- 					<div class="social-share">
						<div id="fb-like-target"></div>
						<a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Como cuando ...&url=http://comocuando.net/{{videoId}}/{{audioId}}"><img src="images/tweet.jpg" alt="Tweet"></a>
					</div> -->
				</div>
			</div>
		</div>
	</div>

	<!-- <div id="fb-like" class="fb-like" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div> -->
